<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Título *</ion-label>
    <ion-input [(ngModel)]="title" placeholder="¿Qué tienes que hacer?"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="description" rows="3"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Prioridad</ion-label>
    <ion-select [(ngModel)]="priority" placeholder="Selecciona">
      <ion-select-option value="alta">Alta</ion-select-option>
      <ion-select-option value="media">Media</ion-select-option>
      <ion-select-option value="baja">Baja</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="save()" [disabled]="!title.trim()">
    Guardar Tarea
  </ion-button>
</ion-content>
